body {
  background: #EEEFF7;
}
.navigation {
  position: fixed;
  left: 0;
  top: 0;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.navigation li {
  width: 256px;
  float: left;
  font-family: Verdana;
  font-size: 13px;
}
.navigation a {
  display: block;
  padding: 12px 20px;
  background: #445878;
  color: #fff;
  text-decoration: none;
}
.navigation a:hover {
  background: #4458C0;
}
#page {
  overflow: hidden;
}
p {
  padding-top: 16px;
}
